[include]
	path = ~/.config/git/catppuccin-delta.gitconfig

[includeIf "gitdir:/Users/milhamh95/work/alami-group/**"]
	path = ~/.gitconfig-alami-group

[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/nix/"]
	path = ~/.gitconfig-personal

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	excludesfile = /Users/milhamh95/.gitignore
	editor = code --wait
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	side-by-side = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
