[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/nix/"]
	path = ~/.gitconfig-personal

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	excludesfile = /Users/milhamh95/.gitignore
	editor = code --wait

[user]
	email = m.ilham.hidayat.95@gmail.com
	name = M Ilham Hidayat

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
