[includeIf "gitdir:/Users/milhamh95/work/alami-group/**"]
	path = ~/.gitconfig-alami-group

[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/nix/"]
	path = ~/.gitconfig-personal

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	excludesfile = /Users/milhamh95/.gitignore
	editor = code --wait

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
